<?xml version="1.0"?>
<opencv_storage>
    <problem_code>P_1</problem_code>
    <problem_file>/home/trevor/Work/Research/SymReg/VanillaGP/Resources/Input/2C2DFCBBB98241BD9177CB878B6EEA6.arff</problem_file>
    <server>"192.168.1.109"</server>
    <port>"80"</port>
    <machine>"192.168.1.109"</machine>
    <uri>"/codedash/"</uri>
    <algorithm_code>ETREE_C</algorithm_code>
</opencv_storage>
