<?xml version="1.0"?>
<opencv_storage>
<flat_line_limit>"20"</flat_line_limit>
<uri>/codedash/</uri>
<population>"50000"</population>
<algorithm_code>ETREE_C</algorithm_code>
<generation_limit>"25"</generation_limit>
<depth_limit>"5"</depth_limit>
<reuse>"0.0001"</reuse>
<machine>"192.168.1.109"</machine>
<tournament_size>"20"</tournament_size>
<mutation_ratio>"0.8"</mutation_ratio>
<problem_code>P_2</problem_code>
<elite_count>"10"</elite_count>
<problem_file>/home/trevor/Work/Research/SymReg/VanillaGP/Resources/Input/BE397E46418640286353CE6726DB4FF.arff</problem_file>
<server>"192.168.1.109"</server>
<port>"80"</port>
</opencv_storage>
